{% extends "base.html" %}
{% block title %}Contacts{% endblock %}
{% block content %}

	{% for contact in contacts %}
		<strong><p><a href="/contacts/editcontact/{{ contact.id }}/">
		{{ contact.first_name }} {{ contact.last_name }}</a></p></strong>
		<p>{{ contact.number }}</p>
		<hr/>
	{% endfor %}
	<p><h4>Click on the Contact name to edit the information!</h4></p>
	<p>Click<a href="/contacts/create/"> here</a> to create another Contact.</p>
	<p>Click<a href="/contacts/contacts_to_delete/"> here</a> to delete Contacts.</p>
	
{% endblock %}