{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
	<table>
		<tr>
			<td><b>Company Name: Python and Friends</td>
		</tr>
		<tr>
			<table>
				<tr>
					<td><b>Address: </td>
					<td><b>1413 44th Street 2nd Floor </td>
				</tr>
				<tr>
					<td></td>
					<td><b>New York, New York 11101</td>
				</tr>
			</table>
		</tr>
		<tr>
			<td><b>Phone #: (212)-457-9887</td>
		</tr>
	</table>
	<br><p>To register, please click <a href="/contacts/register/">here.</a></p>
{% endblock %}